{% extends "layout.njk" %}

{% block head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="courses.css">
{% endblock %}

{% block content%}
  <div class="course">
    {% for card in cards %}
      <div class="card" id="{{ card.id }}">
        <div class="course-img">
          <img src="{{ card.img }}" alt="{{ card.id }}">
        </div>
        <div class="course-modules">
          <p>{{ card.modules }}</p>
        </div>
        <div class="disponibility">
          <p>{{ card.price }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="links" id="footer">
    {% for link in info.links %}
      <a href="{{ link.url }}">{{ link.name }}</a>
    {% endfor %}
  </div>

  <div class="modal-overlay maximize">
    <div class="modal maximize">
      <div class="close-modal">
        <i class="material-icons">close</i>
      </div>

      <div class="maximize-modal">
        <i class="material-icons">maximize</i>
      </div>

      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>

    </div>
  </div>

  <script src="scripts.js"></script>
{% endblock %}