<div class="item">
  <div>Imagem</div>
  <div>
    <input type="url" name="avatar_url" placeholder="http://" value="{{ teacher.avatar_url }}">
  </div>
</div>

<div class="item">
  <div>Nome</div>
  <div>
    <input type="text" name="name" placeholder="Nome do professor" value="{{ teacher.name }}">
  </div>
</div>

<div class="item">
  <div>Data de nascimento</div>
  <div>
    <input type="date" name="birth_date" value="{{ teacher.birth_date }}">
  </div>
</div>

<div class="item">
  <div>Graude escolaridade</div>
  <div>
    <select name="education_level">
      <option value="highSchool" {% if teacher.education_level == "highSchool" %} selected="selected" {% endif %}>Ensino Médio Completo</option>
      <option value="higherSchool" {% if teacher.education_level == "higherSchool" %} selected="selected" {% endif %}>Ensino Superior Completo</option>
      <option value="master" {% if teacher.education_level == "master" %} selected="selected" {% endif %}>Mestrado</option>
      <option value="doctorate" {% if teacher.education_level == "doctorate" %} selected="selected" {% endif %}>Doutorado</option>
    </select>
  </div>
</div>

<div class="item">
  <div>Acompanhamento</div>
  <div>
    <span><input type="radio" name="class_type" value="physical" {% if teacher.class_type == "physical" %} checked="checked" {% endif %}>Presencial</span>
    <span><input type="radio" name="class_type" value="online" {% if teacher.class_type == "online" %} checked="checked" {% endif %}>À distância</span>
  </div>
</div>

<div class="item">
  <div>Área de atuação</div>
  <div>
    <input type="text" name="subjects_taught" placeholder="Matérias que pode lecionar" value="{{ teacher.subjects_taught }}">
  </div>
</div>

<button type="submit">Salvar</button>